.body {
  margin: 0;

  display: flex;
  flex-direction: column;
  max-width: 100%;
}

html {
}
/* Estilos gerais */

.container {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-image: linear-gradient(#ff631e, #193266);
  padding-bottom: 3%;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("font/BebasNeue-Regular.ttf") format("truetype");
       
       /* Adicione outras variações da fonte se necessário */
       /* Exemplo: url("caminho/para/fonte/arquivo.ttf") format("truetype") */
}



.TItulo-principal {
  font-family: "Bebas Neue";
  font-weight: 100;
  color: aliceblue;
  text-align: center;
  padding-bottom: 1%;
  font-size: 4rem;
  padding-top: 3rem;
}

.btn {
 
  text-align: center;
  
}

.PG1-1{
  display: flex;
  justify-content: center;
  align-items: center
}

.PG1 {
  display: flex;
  flex-direction: column;
  background-color: #193266;
  padding-top: 20px;
  width: 87%;
}

.PG1 p{
  text-indent: 40px; 
  padding-left: 2rem;
  
  font-family: 'Segoe UI', Verdana, sans-serif;
  color: #d6d4d4;
  font-size: 1.6rem;
}



.PG1  {
    
  border: 1px solid white;
}

.grafico {
  text-align: center;
  padding-top: 40px;
}

.grafico img {
  width: 75rem;
}



.h4-1{
  font-family: "Bebas Neue Regular", sans-serif;
  color: white;
  text-align: center;
}




.img3 {
  padding: 3rem;
  text-align: center;
}


.img3 button {
  font-family: "Bebas Neue";
  font-weight:200;
  font-size: 2.7rem;
  color: #fff;
  background-color: #193266;
  border: 1px solid white;
  width: 54rem;
  height: 10rem;
  filter: brightness(0.9);
  transition: 0.3s all ease-in;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);

}


.img3 :hover {
  cursor: pointer;
  filter: brightness(1);
  transform: scale(1.02);
}

.TL2 {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.8rem;
}

.TL2 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  font-style: inherit;
  text-align: justify;
  margin-top: 10px;
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 100;
  color: white;
  font-family: "Segoe UI", Verdana, sans-serif;
}

.TL2 p {
  width: 70vw;
}

.TL3 {
  font-family: "Bebas Neue Regular";
  text-align: center;
}

.TL3 img {
  width: 68%;
}

.h31 {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.h31 {
  font-family: "Bebas Neue";
  color: white;
  font-size: 3rem;
  font-weight: 100;
}

.LT h6 {
  display: flex;
  font-size: 1.6rem;
  margin: 0;
  color: white;
  font-family:  'Segoe UI',  Verdana, sans-serif;
  font-weight: 800;
}

.LT p {
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 300;
  font-family: "Segoe UI", Verdana, sans-serif;
}

.btn2 {
  padding-bottom: 1%;
  padding-top: 26px;
  text-align: center;
}

li {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 2rem;
   }

.btn2 {
  padding-bottom: 6%;
  text-align: center;
  padding-top: 6%;
}

.btn2 button {
  color: aliceblue;
  background-color: #ff631e;
  width: 60vw;
  height: 10vw;
  font-size: 2.9rem;
  font-family: "Bebas Neue";
  font-weight: 100;
  border: white;
  border: 1px solid white;
  filter: brightness(0.9);
  transition: 0.3s all ease-in;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

.btn2 :hover {
  cursor: pointer;
  filter: brightness(1);
  transform: scale(1.02);
}
.conteudo3 {
  background: rgb(255, 123, 10);
  background: radial-gradient(
    circle,
    rgba(255, 123, 10, 1) 0%,
    rgba(255, 92, 20, 1) 100%
  );
}

.traco {
  text-align: center;
}

.traco button {
  text-align: center;
  width: 700px;
  height: 11px;
  border: none;
  border-radius: 5px;
  background: aliceblue;
}

.h2 {
  font-family: "Bebas Neue";
  text-align: center;
  color: white;
  font-size: 4.7rem;
  font-weight: 100;
}

.TB-preco {
  text-align: center;
}

.T-PRECO img {
  height: 200px;
  width: 700px;
}

.PgRegulamneto {
  text-align: center;
  color: aliceblue;
}

.Pg-conteudo3 {
  padding-top: 40px;
  text-align: center;
  color: white;
}

.Pg-conteudo3 p {
  font-family: "Segoe UI", Verdana, sans-serif;
  font-size: 2.5rem;
}

.Pg-conteudo3 {
  color: white;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.span {
  font-weight: 800;
}

.Pg-conteudo3 h4,
h3 {
  font-family: "Bebas Neue" ;
  font-size: 4rem;
  padding-top: 20px;
  font-weight: 100;
}

.h2{
  
}

.Pg-conteudo3 h4 {
  margin-bottom: 1px;
}

.Pg-conteudo3 h3 {
  margin-top: -1rem;
}

.Pg-conteudo3 p {
  font-family: "Segoe UI", Verdana, sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.btn3 {
  padding-bottom: 6%;
  text-align: center;
  padding-top: 6%;
}

.btn3 button {
  color: aliceblue;
  background-color: #193266;
  width: 48vw;
  height: 10vw;
  font-size: 3rem;
  font-family: "Bebas Neue";
  font-weight: 100;
  border: white;
  border: 1px solid white;
  filter: brightness(0.9);
  transition: 0.3s all ease-in;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

.btn3 :hover {
  cursor: pointer;
  filter: brightness(1);
  transform: scale(1.02);
}

/* Restante do seu CSS aqui ... */

/* Estilizando as imagens lado a lado */
.IMGs-selos {
  
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 65px;
}

.selo {
  text-align: center;
  width: 290px; /* Ajuste a largura das imagens e parágrafos conforme necessário */
  margin: 10px; /* Adicione uma margem entre as imagens */
}

.selo img {
  width: 100%; /* A imagem ocupará todo o espaço disponível na div .selo */
}

.selo p {
  font-size: 1.2rem;
  color: #f3efef;
  margin-top: 10px; /* Adicione uma margem para separar os parágrafos das imagens */
}


.fim{
  background: rgb(25,50,102);
background: linear-gradient(90deg, rgba(25,50,102,1) 0%, rgba(18,45,101,1) 37%);
}

.h3-2{
  font-family: "Bebas Neue";
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.contener{

display: flex;
justify-content: space-around;
align-items: center;
align-self: center;
width: 100%;
height: 100%;

}

.div1 img{
  width: 320px;
  padding-left: 5rem;

}

.div2 h4{
 padding-left: 5rem;
  font-size: 3rem;
  color: #fff;
  font-family: "Bebas Neue";
  font-weight: 100;

}

.div2 p{

padding-left: 3rem;
  color: #fff;
  font-size: 2rem;
  font-family: 'Segoe UI', Verdana, sans-serif;
}


.img5{
  padding-top: 6rem;
  text-align: center;
}


.img5 img{
  width: 20rem;
}

@media (max-width: 1176px) {
 .grafico img{
  width: 60rem;
 }
 
 .PgRegulamneto {
  font-size: 1.1rem ;
} /* Estilos para dispositivos móveis */
}

@media (max-width: 1060px) {
  .TB-preco img{
    width: 55rem;
  }
  
  
   /* Estilos para dispositivos móveis */
 }


 @media (max-width: 954px) {
  .grafico img{
    width: 50rem;
  }
  
 .PgRegulamneto {
  font-size: 1.1rem ;
} 
   /* Estilos para dispositivos móveis */
 }


@media (max-width: 909px){
  .img3 button{
    width: 50rem;
  }
  .PgRegulamneto {
  font-size: 1.1rem ;
}
}


@media (max-width: 875px){
  .TB-preco img{
    width: 50rem;

  }    
  .Pg-conteudo3 p{
    font-size: 2rem;
  }

  .h2{
    font-size: 5rem;
  }

  .IMGs-selos{
    width:97% ;
  }

  .div1 img{
    width: 20rem;
  }

.PgRegulamneto {
  font-size: 1.1rem ;
}
}


@media (max-width: 847px){
  .img3 button{
    width: 45rem;
  }

.div2 h4{
  margin: 0;
}

  .div2 p{
    gap: 3px ;
    font-size: 1.2rem;
  }
.PgRegulamneto {
  font-size: 1.1rem ;
}
}

  

@media (max-width: 847px){
  .grafico img{
    width: 43rem;

  };

  .Pg-conteudo3 h4{
    font-size: 2rem;
  }
  .Pg-conteudo3 p{
    font-size: 2rem;
  }

  .h2{
    font-size: 3.5rem;
  }
.PgRegulamneto {
  font-size: 1.1rem ;
}
}

@media (max-width: 798px){
  .Pg-conteudo3 h4{
    font-size: 2rem;
  }
  .Pg-conteudo3 p{
    font-size: 2rem;
  }
   
  .TB-preco img{
    width: 39rem;
  }

  .btn3 button{
    width: 34rem;
  }
  .PgRegulamneto {
  font-size: 1.1rem ;
}
}



@media (max-width: 765px){
.img3 button{
  width: 34rem;
  font-size: 1.9rem;
}
.PgRegulamneto {
  font-size: 1.1rem ;
}
}

@media (max-width: 697px){

  .grafico img{
    width: 38rem;
  }
.traco button{
  width: 35rem;
}

.div1 img{
  width: 16rem;
}
.PgRegulamneto {
  font-size: 1.1rem ;
}
}
@media (max-width: 623px){
  .TB-preco img{
    width: 35rem ;
  }

  .grafico img{
    width: 33rem;
  }
  .PG1 p{
    font-size: 1.1rem;
  }

  .LT h6 , .LT p{
    font-size: 1.2rem;
  }

  .Pg-conteudo3 p{
    font-size: 1.3rem;
  }
  .contener {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .div2 {
    padding-top: 3rem;
  }
  .img5 img{
    width: 15rem;
  }

  .div1 img{
    width: 15rem;
    padding: 0;
  }

  
  .TItulo-principal{
    font-size: 2.5rem;
  }
 .btn3 button{
  font-size: 2rem;
  width: 25rem;
 }
 .PgRegulamneto {
  font-size: 1.1rem ;
}

}
@media (max-width: 589px){
 
.img3 button{
  width: 30rem;
  font-size: 1.6rem;
}
.PgRegulamneto {
  font-size: 1.1rem ;
}

.traco button{
  width: 28rem;
}
.TB-preco img{
  width: 30rem;
}

} 

@media (max-width: 526px){
  .btn2 button{
    font-size: 2rem
  }
  .div2 p{
   font-size:  1.1rem;
  }
  .div2 h4{
    font-size: 2rem;
  }
  .h3-2 h3 {
    font-size: 2.5rem;
  }

  .TL2 p{
    font-size: 1.1rem;
  }


  .div1 img{
    width: 12rem;
  }
  .h2{
    font-size: 2rem;
  }

  .Pg-conteudo3 h3{
    font-size: 2rem;
  }

.img3 button{
  width: 26rem;
  font-size: 1.6rem;
}

.grafico img{
  width: 30rem;
}

.LT p{
  font-size: 1.1rem;
}

.h31 {
  font-size: 2.4rem;
}

.selo img{
  width: 15rem;
}
}


@media (max-width: 497px){
  .grafico img{
    width: 27rem;
  }

  .img3 button{
  width: 22rem;
  font-size: 1.3rem;
}

.TB-preco img{
  width: 26rem;
}
}

@media (max-width: 446px){
  .traco button{
    width: 19rem;
  }
  .selo img{
    width: 12rem;
  }

  .btn3 button{
    width: 19rem;
    font-size: 1.6rem;
  }

  .div2 p {
    padding: 2rem;
    margin: 0;
  }

  .TL2 p{
    margin: 0;
  }

  .PG1 p {
    font-size: 1rem;
    padding: 9px;
}

.grafico img{
  width: 24rem;
}
.img3 button{
  width: 17rem;
  font-size: 1.4rem;

}

.TB-preco img{
  width: 24rem;
}
}

@media (max-width: 414px){
  .img3 button{
    width: 17rem;
    font-size: 1.4rem;

  }

  .TB-preco img{
    width: 24rem;
  }

  .PG1 p {
    margin: 0;
    font-size: 1rem;
    padding: 1rem;
}
}


@media (max-width: 448px){
  .PG1 p {
    margin: 0;
    font-size: 1rem;
    padding: 1rem;
}
}